<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)] = 'listFilter' />
            </div>
        </div>
        <div class='row' >
            <div class='col-md-6'>
                <h3> Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' ></div>

        <div class='table-responsive'>
            <table class='table' *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' 
                                    (click)= 'toggleImage()'>
                               {{ imageShow ? 'Hide' : 'Show' }}
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Le mandamos al pipe el filtro que queremos aplicar(listFilter) -->
                   <tr *ngFor='let product of products | productFilter: listFilter'> 
                       <td><img *ngIf = 'imageShow' [src]='product.imageUrl' 
                                [title]='product.productName'
                                [style.width.px] = 'imageWidth'
                                [style.height.px] = 'imageHeight'>
                       </td>
                       <!--El Router forma la URL con base a el arreglo asignado al routerLink-->
                       <!--El primer elemento del array es el path de la ruta a activar, el segundo es el parametro a pasar-->
                       <td><a [routerLink]="['/product', product.productId]">{{ product.productName }}</a></td>
                       <td>{{ product.productCode | lowercase}}</td>
                       <td>{{ product.releaseDate }}</td>
                       <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td> <!--Podemos agregar parametros a los pipes-->
                       <td>
                           <!--Para pasar datos del contenedor al componente se utiliza property binding-->
                            <!--Para responder a eventos generados por el componente se utiliza event binding-->
                           <ai-star [rating] = 'product.starRating'  
                                    (ratingClicked) = 'onRatingClicked($event)' >   <!-- $event es el payload recibido por el evento  -->
                           </ai-star>
                       </td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>